.checkout {
    padding: 3vh 3vw 0 3vw;
    max-height: 88vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    overflow-y: auto;

    hr {
        color: #E1E1E1;
        height: 2px;
        border: none;
        background-color: #E1E1E1;
    }
}

.checkout::-webkit-scrollbar {
    display: none;
}

.buttonRow {
    height: 8vh;
    padding: 1vh 0;
    display: flex;
    align-items: center;

    button {
        height: 5vh;
        width: 15vw;
        border: none;
        outline: none;
        background-color: #2E0052;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        font-size: 2vh;
        font-family: Roboto;
        font-weight: 500;
    }
}

.checkoutRow {
    height: 8vh;
    display: grid;
    place-items: center;
    font-size: 4vh;
    font-weight: 500;
    text-decoration: underline;
}

.checkoutBox {
    padding: 2vh 0;
    display: flex;
    margin-bottom: 15vh;
}

.leftContainer {
    width: 65%;
}

#commonRow {
    display: flex;
    justify-content: space-between;
    column-gap: 1vw;
    padding-inline: 1.5vw;
}

.boxContainer {
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 1vh 0;

    p {
        font-size: 3vh;
        font-weight: 500;
        color: #B52B00;
    }

    span {
        color: #797979;
        padding: 1vh;
    }

    textarea {
        resize: none;
        outline: none;
        border: 2px solid #919191;
        padding: 1vh;
        border-radius: 1vh;
        width: 100%;
        height: 15vh;
        font-family: Roboto;
        color: #797979;
    }
}

.imagesContainer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 2vh;

    img {
        height: 100%;
        width: 100%;
        border: 2px solid black;
        border-radius: 1vh;
        object-fit: contain;
        cursor: pointer;
    }
}

.selectedImage {
    border: 5px solid #FFD600;
    border-radius: 1vh;
}


.leftFirstRow {
    height: 23vh;
}

.leftSecondRow {
    height: 12vh;
}

.leftThirdRow {
    margin-bottom: 5vh;
}

.leftFourthRow {
    height: 20vh;
    display: flex;
    align-items: center;
}

.placeOrderRow {
    border: 3px solid #E1E1E1;
    height: 10vh;
    width: 100%;
    border-radius: 1vh;
    padding: 0.5rem;
    display: flex;
    column-gap: 2vw;

    button {
        background-color: #FFD600;
        outline: none;
        border: none;
        min-width: 25%;
        padding-inline: 2vw;
        border-radius: 0.5rem;
        font-size: 2.5vh;
        font-family: Roboto;
        cursor: pointer;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        font-size: 2.5vh;
        color: #B52B00;
        font-weight: 500;
    }

    span {
        font-size: 1.7vh;
    }
}

.rightContainer {
    width: 35%;
    padding-inline: 2vw;
}

.placeOrderBox {
    position: relative;
    border: 2px solid #E1E1E1;
    max-height: 55vh;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.firstRow {
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
        width: 100%;
        height: 7vh;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        background-color: #FFD600;
        font-family: Roboto;
        font-weight: 400;
        font-size: 2.5vh;
        cursor: pointer;
    }

    p {
        font-size: 2vh;
        text-align: center;
        padding-inline: 1vw;
    }
}

.secondRow {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;

    p {
        font-size: 3vh;
        font-weight: 500;
    }

    div {
        display: flex;
        justify-content: space-between;
    }

    span {
        color: #797979;
        min-width: 5vw;
    }
}

.thirdRow {
    height: 15vh;
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;
    color: #B52B00;
    font-weight: 500;
    font-size: 3vh;
}

.error {
    font-size: x-small;
    color: red;
    margin-top: -2vh;
}

.readOnlyInput {
    height: 7vh;
    border: 2px solid #919191;
    outline: none;
    border-radius: 1vh;
    color: #797979;
    padding-inline: 1vw;
    font-size: 2vh;
}

/* Mobile styles  */

@media (max-width: 768px) {
    .checkout {
        /* border: 3px solid red; */
        height: 83vh;
        width: 100vw;
    }

    .buttonRow {
        padding: 0;

        button {
            height: 5vh;
            width: 5vh;
            background-color: white;
            box-shadow: 0px 1px 4px 0px #00000054;
            border-radius: 1rem;
            color: black;
            font-weight: 600;
        }
    }

    .checkoutRow {
        /* border: 1px solid red; */
        display: flex;
        text-decoration: none;
    }

    .checkoutBox {
        /* border: 1px solid red; */
        margin-bottom: 0vh;
        flex-direction: column;
    }

    .leftContainer {
        /* border: 1px solid black; */
        width: 100%;
    }

    #commonRow {
        /* border: 2px solid rgb(0, 0, 0); */
        flex-direction: column;
        justify-content: end;
        height: fit-content;
    }


    .boxContainer {
        /* border: 2px solid rgb(0, 0, 0); */
        min-height: fit-content;
        row-gap: 2vh;

        p {
            font-size: 2.5vh;
        }

        span {
            font-size: 2vh;
            padding: 0;
            margin-inline: 5vw;
        }

        textarea {
            margin-inline: 3vw;
            width: 90%;
            height: 10vh;
        }
    }

    .error {
        margin-inline: 3vw;
    }



    #productName {
        color: black;
        margin-left: 5vw;
    }

    #deliveryTime {
        margin-left: 5vw;
        font-size: 2vh;
    }

    .imagesContainer {
        /* border: 2px solid red; */
        width: 80%;
        margin-left: 5vw;
    }

    .rightContainer {
        display: flex;
        width: 100%;
        padding: 2vh 5vw;

        hr{
            padding: 0;
            margin: 0;
        }
    }

    .placeOrderBox {
        border: none;
        padding: 0;
        flex-direction: column-reverse;
        width: 100%;
        height: 30vh;

        p{
            font-size: 2.5vh;
        }

        span{
            font-size: 2vh;
        }
    }
}