.mobileHeader {
    width: 100vw;
    background-color: #2E0052;
    display: flex;
    align-items: center;
    height: 9vh;
    padding-inline: 3vw;
    column-gap: 1vw;

    img {
        height: 6vh;
    }

    span {
        font-size: 3vh;
        color: white;
        font-weight: 500;
    }
}
